<!-- templates/add_secretaria.html -->
{% extends "base.html" %}

{% block title %}Adicionar Secretária - CRAS App{% endblock %}

{% block content %}
<h2 class="text-center">Adicionar Secretária</h2>
<form action="{{ url_for('add_secretaria') }}" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
        <div class="invalid-feedback">Por favor, insira o nome.</div>
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">Usuário:</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="invalid-feedback">Por favor, insira o nome de usuário.</div>
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="senha" name="senha" required value="senha123">
        <div class="invalid-feedback">Por favor, insira a senha.</div>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
        <label class="form-check-label" for="is_admin">Administrador</label>
    </div>

    <button type="submit" class="btn btn-primary w-100">Adicionar Secretária</button>
</form>
{% endblock %}
