{% extends "base.html" %}

{% block title %}Pesquisar Usuário - CRAS App{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Pesquisar Usuários</h2>

    <!-- Formulário de pesquisa -->
    <form action="{{ url_for('pesquisar_usuario') }}" method="POST" class="needs-validation" novalidate>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Digite o nome ou telefone" required>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
            <div class="invalid-feedback">Por favor, insira um termo de pesquisa.</div>
        </div>
    </form>

    <!-- Resultados da pesquisa -->
    {% if usuarios %}
    <h3 class="mt-5 text-center">Resultados da Pesquisa</h3>
    <div class="row justify-content-center">
        {% for usuario in usuarios %}
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">
                        <i class="bi bi-person-fill"></i> <strong>{{ usuario['nome'] }}</strong>
                    </h5>
                    <p class="card-text text-uppercase">
                        <i class="bi bi-telephone-fill"></i> <strong>TELEFONE:</strong> {{ usuario['telefone'] | format_telefone }}<br>
                        <i class="bi bi-house-door-fill"></i> <strong>ENDEREÇO:</strong> {{ usuario['endereco'] }}<br>
                        <i class="bi bi-wallet-fill"></i> <strong>BOLSA FAMÍLIA:</strong> {{ 'sim' if usuario['bolsa_familia'] == 'sim' else 'não' }}<br>
                        <i class="bi bi-calendar-fill"></i> <strong>ÚLTIMA RETIRADA DA CESTA BÁSICA:</strong> {{ usuario['data_cesta'] | format_data }}
                    </p>

                    <!-- Exibir próxima retirada da cesta básica, se houver data da última retirada -->
                    {% if usuario['data_proxima_retirada'] %}
                    <p class="card-text text-uppercase alert alert-info">
                        <i class="bi bi-calendar2-check-fill"></i> <strong>PRÓXIMA RETIRADA DA CESTA BÁSICA:</strong> {{ usuario['data_proxima_retirada'] | format_data }}
                    </p>
                    {% endif %}

                    <!-- Exibir cônjuge se houver -->
                    {% if usuario['conjuge_nome'] %}
                    <p class="card-text text-uppercase">
                        <i class="bi bi-heart-fill"></i> <strong>CÔNJUGE:</strong> {{ usuario['conjuge_nome'] }}
                    </p>
                    {% endif %}

                    <!-- Exibir filhos se houver -->
                    {% if usuario['filhos'] %}
                    <p class="card-text text-uppercase">
                        <i class="bi bi-people-fill"></i> <strong>FILHOS:</strong> 
                        {% for filho in usuario['filhos'] %}
                        {{ filho['nome'] }} - {{ filho['idade'] }} anos{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}

                    <!-- Botão para editar o usuário -->
                    <a href="{{ url_for('editar_usuario', nome_usuario=usuario['nome']) }}" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif request.method == 'POST' %}
    <p class="mt-3 text-center">Nenhum usuário encontrado.</p>
    {% endif %}
</div>
{% endblock %}
