<!-- templates/pesquisar_usuario.html -->
{% extends "base.html" %}

{% block title %}Pesquisar Usuário - CRAS App{% endblock %}

{% block content %}
<h2 class="text-center">Pesquisar Usuários</h2>
<form action="{{ url_for('pesquisar_usuario') }}" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="pesquisa" class="form-label">Nome ou Telefone:</label>
        <input type="text" class="form-control" id="pesquisa" name="pesquisa" required>
        <div class="invalid-feedback">Por favor, insira um termo de pesquisa.</div>
    </div>

    <button type="submit" class="btn btn-primary w-100">Pesquisar</button>
</form>

{% if usuarios %}
<h3 class="mt-5">Resultados da Pesquisa</h3>
<ul class="list-group">
    {% for usuario in usuarios %}
    <li class="list-group-item">
        <strong>Nome:</strong> {{ usuario['nome'] }} <br>
        <strong>Telefone:</strong> {{ usuario['telefone'] }} <br>
        <strong>Endereço:</strong> {{ usuario['endereco'] }} <br>
        <strong>Bolsa Família:</strong> {{ usuario['bolsa_familia'] }} <br>
        <strong>Última data de retirada da cesta básica:</strong> {{ usuario['data_cesta'] }}
    </li>
    {% endfor %}
</ul>
{% elif request.method == 'POST' %}
<p class="mt-3 text-center">Nenhum usuário encontrado.</p>
{% endif %}
{% endblock %}
